# 빌드 출력 및 사용자 설정 파일
*.exe
*.obj
*.log
*.suo
*.user
*.pdb
*.idb

# Python 캐시
__pycache__/
*.pyc

# JSON 등 민감한 데이터
*.json

# VS 설정 백업 파일
*.VC.db
ipch/
.vscode/

# 기타
.DS_Store
.vs/

# Visual Studio build artifacts
x64/
Debug/
Release/
*.obj
*.log
*.tlog
*.pch
*.ipch
*.ilk
*.pdb
*.exe
*.vc.db
